* {
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} 

.svgIcons{
min-width: 50px !important;
min-height: 50px !important;
} 
